@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #1cd3fe;
}

body {
	font-family: 'Orbitron';
	background: #000;
	color: var(--primary-color);
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 60px;
	transition: all 0.5s ease;
}
